n8n-workflow-test.json
{
  "name": "teste kanban input",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        -180
      ],
      "id": "dc1ecddc-0111-4347-bffa-f3b336c33773",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "101c09a3-6851-4a66-9487-3df1507984b1",
              "name": "connectionId",
              "value": "boardchat-default-letznbj8-1748426307659",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        -180
      ],
      "id": "8fe5ace6-c92b-4b71-b959-ce8680014de7",
      "name": "connectionId"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://example.com/send-to-websocket",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"targetConnectionId\": {{ $('connectionId').first().json.connectionId.toJsonString() }},\n    \"messagePayload\": {{ $json.messagePayload.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        -180
      ],
      "id": "dec8668f-847c-45f0-ab3e-c982b26bb221",
      "name": "Send To Chat"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"messagePayload\": {\n      type: \"thinking\",\n      text: \"Ich denke nach.\"\n    }\n  },\n  {\n    \"messagePayload\": {\n      type: \"final_answer\",\n      text: \"Dies ist eine Testnachricht vom n8n-Workflow.\"\n    }\n  },\n  {\n    \"messagePayload\": {\n      type: \"suggestion\",\n      suggestion: \"Hier ist ein Vorschlag für deine nächste Aktion.\"\n    }\n  },\n  {\n    \"messagePayload\": {\n      type: \"cards\",\n      column: \"Material\",\n      cards: [\n        { title: \"Testkarte 1\", content: \"Dies ist der Inhalt der ersten Testkarte.\" },\n        { title: \"Testkarte 2\", content: \"Dies ist der Inhalt der zweiten Testkarte.\" }\n      ]\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        -180
      ],
      "id": "730ebab8-34f9-4c5b-b09a-40f6df1214a0",
      "name": "Test-Messages"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "connectionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "connectionId": {
      "main": [
        [
          {
            "node": "Test-Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test-Messages": {
      "main": [
        [
          {
            "node": "Send To Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "311fd914-826c-4a7f-a3cb-06f62e7419c0",
  "meta": {
    "instanceId": "634e789e9cac462123b2b4acaedfe20e105965d27f018a60d1d4305ae72b1acb"
  },
  "id": "z5CC5pTK8oBezX4l",
  "tags": []
}